Xcursor.size: 16
Xcursor.theme: Vanilla-DMZ-AA

*background: #000000
*foreground: #ffffff

xterm*loginShell: true
xterm*utf8: True
xterm*faceName: terminus:pixelsize=16
xterm*saveLines: 2000
xterm*fastScroll: True
xterm*termName: xterm-256color

uxterm*termName: xterm-256color

URxvt*scrollstyle: plain
URxvt*scrollBar: false
URxvt*background: Black
URxvt*foreground: White
! URxvt*font: xft:Terminus:pixelsize=12
URxvt*font: xft:Terminus:pixelsize=14:antialias=false
! A more readable dark blue
URxvt*color12: #1A85FF

URxvt*saveLines: 65000
URxvt*termName: rxvt-256color
